$mainColor: #005fa0;
$txtColor: #484e52;

body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Helvetica Neue",
    Arial, "メイリオ", Meiryo, sans-serif;
  color: $txtColor;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

// コンポーネント

.c-scroll {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  pointer-events: none;
  font-family: sans-serif;
  transition: opacity 0.5s ease; /* フェード用 */
  opacity: 1;
  pointer-events: auto;
}
.c-scroll.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.c-scroll__line {
  position: relative;
  display: block;
  width: 1px;
  height: 96px;
  background: transparent;
  border-radius: 1px;
  margin-bottom: 6px;
  overflow: hidden;
}

.c-scroll__line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    transparent 0%,
    $mainColor 60%,
    transparent 100%
  );
  animation: scroll-line-move-up 1.6s linear infinite;
  background-size: 100% 200%;
  background-position: 0 100%;
}

.c-scroll__text {
  font-size: 12px;
  color: $mainColor;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}

@keyframes scroll-line-move-up {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 -100%;
  }
}

/* 横向き・PC時は左向きアニメーション */
// @media (min-width: 768px), (orientation: landscape) {
//   .c-scroll {
//     left: auto;
//     right: 24px;
//     bottom: 50%;
//     top: 50%;
//     transform: translateY(50%) rotate(0deg);
//     flex-direction: row;
//   }

//   .c-scroll__line {
//     width: 32px;
//     height: 2px;
//     background: transparent;
//     margin-bottom: 0;
//     margin-right: 6px;
//   }

//   .c-scroll__line::before {
//     background: linear-gradient(
//       to left,
//       transparent 0%,
//       #333 60%,
//       transparent 100%
//     );
//     animation: scroll-line-move-left 1.2s linear infinite;
//     background-size: 200% 100%;
//     background-position: 100% 0;
//   }
// }

@keyframes scroll-line-move-left {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}
// コンポーネント
.c-index {
  font-size: 0.6rem;
  margin-bottom: 40px;
}

.c-modalbtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 4px;
  padding: 8px;
  font-size: 0.75rem;
  color: $mainColor;
  border: 1px solid $mainColor;
  transition: background 0.2s, color 0.2s;
  margin-top: 16px;
  &:hover {
    background: #fff;
    color: $mainColor;
  }
}

// ユーティリティ
.u-bg--blue {
  background: $mainColor;
  color: #fff;
  .l-wrap__inner {
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}
.u-txt-gray {
  color: #999;
}
.u-txt-small {
  font-size: 0.75rem !important;
}
.u-sp {
  display: none;
}
.u-pc {
  display: inline;
}
@media screen and (max-width: 600px) {
  .u-sp {
    display: inline;
  }
  .u-pc {
    display: none;
  }
}

// レイアウト
.l-wrap {
  &__inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
    h2 {
      color: $mainColor;
      font-size: 2rem;
      font-feature-settings: "palt";
      letter-spacing: 1px;
      span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
      }
      b {
        display: block;
        font-size: 0.75rem;
        font-weight: normal;
        margin-top: 4px;
        background-color: $mainColor;
        color: #fff;
        padding: 4px 8px;
        width: max-content;
      }
    }
    p {
      font-size: 0.875rem;
      line-height: 200%;
    }
  }
}

// メインビジュアル
.p-mv {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  transition: all 1s ease-in-out; /* フェード切り替え風 */

  &__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    & div {
      position: absolute;
      inset: 0;
      background-size: cover;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      &.active {
        opacity: 1;
      }
      &:nth-child(1) {
        background-position: 75% center;
      }
      &:nth-child(2) {
        background-position: 35% center;
      }
      &:nth-child(3) {
        background-position: 80% center;
      }
      &:nth-child(4) {
        background-position: 75% center;
      }
      &:nth-child(5) {
        background-position: 5% center;
      }
      &:nth-child(6) {
        background-position: 5% center;
      }
      &:nth-child(7) {
        background-position: 25% center;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  &__title {
    position: absolute;
    margin: 0;
    left: 24px;
    top: 24px;
    width: 45vw;
    max-width: 280px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    font-weight: normal;
    opacity: 0.8;
  }
}

// はじめに
.p-intro {
  position: relative;
  img {
    width: 120px;
    display: block;
    margin-left: auto;
    @media screen and (min-width: 1024px) {
      position: absolute;
      right: 160px;
    }
  }
  &__movie {
    width: 100vw; /* 横幅を決めると */
    aspect-ratio: 1 / 1.2; /* 正方形になる */
    overflow: hidden;
    // border-radius: 8px;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: -40px; /* 左に寄せる */
    top: 40px;
    margin: 0;
    video {
      max-width: 100%;
      height: 100%;
      display: block;
      margin: auto;
      object-fit: cover;
    }
    @media screen and (min-width: 1024px) {
      width: 100%;
      aspect-ratio: 16 / 9; /* 横長にする */
      left: 0;
      top: 0;
      margin: 40px auto;
      video {
        width: 100%;
      }
    }
  }
}

// プロジェクトメンバー
.p-member {
  height: 100dvh;
  background: url("/assets/images/member_sp.jpg") no-repeat center / cover;
  @media screen and (min-width: 1024px) {
    background: url("/assets/images/member.jpg") no-repeat center / cover;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column-reverse;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    @media screen and (min-width: 1024px) {
      align-items: flex-start;
      flex-direction: row;
      top: 20%;
    }
    &__name {
      display: block;
      width: 60vw;
      max-width: 320px;
    }
    &__cross {
      width: 32px;
      height: 32px;
      align-self: anchor-center;
    }
  }
}

// 撮影地
.p-place {
  .l-wrap__inner {
    background: url("/assets/images/illust_map.png") no-repeat
      bottom/calc(100% - 40px);
    padding-bottom: 280px;
    @media screen and (min-width: 1024px) {
      background: url("/assets/images/illust_map.png") no-repeat
        calc(100% - 40px) 100% / calc(50vw - 0px);
      padding-bottom: 80px;
    }
  }
  &__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
    @media screen and (min-width: 1024px) {
      width: 35vw;
      justify-content: flex-end;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        font-size: 0.75rem;
        line-height: 1.6;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 4px;
        span {
          font-size: 0.75rem;
          display: block;
          width: 100px;
        }
        p {
          font-size: 0.75rem;
          margin: 0;
        }
      }
    }
    img {
      width: 160px;
      max-width: 100%;
      height: auto;
    }
  }
}

// ギャラリー
.p-gallery {
  position: relative;
  width: 100%;
  height: 200vh; /* 縦を長くしてキャンバス状に */
  overflow: hidden;
  background: url(/assets/images/pt.jpg) repeat;
  background-size: 20%;
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .l-wrap__inner {
    padding: 0;
    height: 100%;
  }
}

// 写真集
.p-book {
  background-image: linear-gradient(90deg, #cecece, #efefef);
  &__mock {
    position: relative;
    width: 100%;
    margin: 32px auto 0;
    img {
      width: calc(100% + 100px);
      position: relative;
      left: -50px;
      display: block;
    }
    &__notice {
      position: absolute;
      bottom: 0;
      left: -20px;
      background: #fff;
      color: #005fa0;
      padding: 8px 16px;
      font-size: 0.75rem;
      border-radius: 0;
      width: 216px;
      z-index: 2;
      font-weight: bold;
    }
  }
}

// ナビゲーション
.p-nav {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  z-index: 1100;
}

.p-nav__label {
  color: $mainColor;
  font-size: 0.875rem;
}

.p-nav__hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 8px;
}

.p-nav__bar {
  display: block;
  width: 28px;
  height: 1px;
  background: $mainColor;
  border-radius: 2px;
  transition: background 0.2s;
}

.p-nav__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.p-nav__modal-content__desc {
  width: max-content;
  position: relative;
  top: 40%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.p-nav__sns-link {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  text-decoration: none;
  img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.p-nav__modal-content {
  background: rgba(0, 95, 160, 0.92);
  color: #fff;
  padding: 2em 2.5rem;
  min-width: 220px;
  width: 100vw;
  height: 100dvh;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  position: relative;
  animation: fadeIn 0.2s;
  box-sizing: border-box;
}
#navModal,
#noticeModal,
#commentModal,
#shopModal {
  display: none;
}
#navModal.show,
#noticeModal.show,
#commentModal.show,
#shopModal.show {
  display: block;
  animation: fadeIn 0.3s forwards;
}
#navModal.hide,
#noticeModal.hide,
#commentModal.hide,
#shopModal.hide {
  animation: fadeOut 0.3s forwards;
}
.p-nav {
  &__notice {
    position: relative;
    display: inline-block;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: -4px;
      right: -4px;
      width: 6px;
      height: 6px;
      background: #e01818;
      border-radius: 50%;
      display: none;
    }
    &.unread::after {
      display: block;
    }
  }
  &__modal-content blockquote {
    font-size: 0.875rem;
    line-height: 1.7;
    margin: auto;
    font-weight: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60vw;
    &::before {
      position: absolute;
      content: "";
      left: -32px;
      top: 0;
      width: 24px;
      height: 24px;
      background: url(/assets/images/quote_in.svg) no-repeat left center /
        contain;
    }
    &::after {
      position: absolute;
      content: "";
      right: -32px;
      bottom: 0;
      width: 24px;
      height: 24px;
      background: url(/assets/images/quote_out.svg) no-repeat left center /
        contain;
    }
  }
  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0);
      border: 1px solid #fff;
      z-index: 1;
    }

    span {
      position: relative;
      width: 16px;
      height: 16px;
      display: block;
      z-index: 2;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      left: 7px;
      top: 0;
      width: 1px;
      height: 16px;
      background: #fff;
      border-radius: 1px;
    }

    span::before {
      transform: rotate(45deg);
    }

    span::after {
      transform: rotate(-45deg);
    }
  }
  &__list {
    list-style: none;
    padding: 1em 3em 1em 0;
    margin: 1em 0;
    border: 1px solid #fff;
    border-right: none;
    border-left: none;
    width: max-content;

    li {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 0.75rem;
      transition: color 0.2s;

      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }

      img {
        width: 16px;
        height: 16px;
        display: block;
      }
    }
  }
}

.p-footer {
  &__block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    .p-nav__modal-content__desc {
      top: 0;
      transform: none;
      left: 0;
      margin-left: auto;
    }
    &__desc {
      font-size: 0.75rem;
      line-height: 1.6;
      display: flex;
      gap: 8px;
      align-items: flex-end;
      img {
        width: 100px;
        display: block;
        margin-bottom: 8px;
      }
      b {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 4px;
          display: flex;
          align-items: center;
        }
      }
    }
    &__copy {
      font-size: 0.75rem;
      margin-left: auto;
      align-self: flex-end;
    }
  }
}

/* フェードイン */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* フェードアウト */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
@media (max-width: 600px) {
  .p-nav__modal-content {
    min-width: unset;
    padding: 1.2em 1rem;
  }
}

// フェードインアニメーション
/* 初期状態（非表示・下にずらす） */
.fadein {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* 表示時 */
.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.parallax {
  position: absolute;
  //   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  //   transform: rotate(calc(-5deg + 10deg * var(--rand-rot)));
}

.parallax img {
  width: 100%;
  height: auto;
  display: block;
  transform: translateY(40px);
  opacity: 0;
  transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}

.parallax.show img {
  transform: translateY(0);
  opacity: 1;
}
