$mainColor: #005fa0;
$txtColor: #484e52;

body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Helvetica Neue",
    Arial, "メイリオ", Meiryo, sans-serif;
  color: $txtColor;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
